<div id="classroom-dashboard-gar-subscriptions-panel" class="dashboard-block" style="display: none;">
    <div class="container-fluid px-5">
        <div class="col-12">
            <div id="update-applications-modal">

                <div class="col-12" id="default-restrictions">
                    <h3 data-i18n="manager.apps.defaultRestrictions">Restrictions par defaut</h3>
                    <table class="table c-table">
                        <thead>
                            <tr>
                                <th scope="col" data-i18n="manager.table.name">Name</th>
                                <th scope="col" data-i18n="manager.table.restrictions">Restrictions</th>
                                <th scope="col" data-i18n="manager.buttons.update">Modifier</th>
                            </tr>
                        </thead>
                        <tbody id="all-default-restrictions">

                        </tbody>
                    </table>
                </div>

                <div class="col-12" id="all-applications">
                    <div class="row">
                        <button class="btn c-btn-outline-primary mx-1" onclick="createApp()">
                            <span data-i18n="manager.apps.create"></span>
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                    <table class="table c-table">
                        <thead>
                            <tr>
                                <th scope="col" data-i18n="manager.table.image">Image</th>
                                <th scope="col" data-i18n="manager.table.name">Name</th>
                                <th scope="col" data-i18n="manager.table.description">Description</th>
                                <th scope="col" data-i18n="manager.table.restriction">Restriction</th>
                                <th scope="col" data-i18n="manager.buttons.update">Modifier</th>
                                <th scope="col" data-i18n="manager.buttons.delete">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody id="all-applications-crud">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>